h5{
    font-size: 30px;
}

.card{
    border-radius: 30px;
    background-color: #000000;
    color: aliceblue;
    box-shadow: 0 3px 32px 0 rgba(99, 100, 117, 0.288);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: none;
}

.card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 180px;

}


.card-text{
    font-size: 1.1rem;
    font-weight: 500;
}