.cart-item{
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.cart-item-image{
    width: 70px;
}

.cart-item-title{
    font-size: 0.85rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

.cart-item-price{
    font-size: 25px;
    font-weight: 500;
}

.cart-item-content{
    padding: 0 35px 0 10px;
}

.remove-item{
    position: absolute;
    top: 0;
    right: 0;
    color: #d83232;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    background: none;
    transform: translateY(-4px);
}

.remove-item svg{
    height: 25px;
    width: 25px;
}